*{
    margin: 0;
    padding: 0;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.click{
    font-size: 30px;
    color: Red;
    cursor: pointer;
}